<% layout("/layouts/boilerplate") -%>

<div class="row mt-3">
  <h1 class="col-6 offset-3 mb-3">Signup on Wanderlust</h1>
  <div class="col-6 offset-3">
    <form action="/signup" method="POST">
      <div class="mb-3 position-relative">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          placeholder="Username"
          required
        />
      </div>

      <!-- email -->
      <div class="mb-3 position-relative">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="email"
          required
        />
      </div>

      <!-- password -->
      <div class="mb-3 position-relative">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="password"
          required
        />
      </div>
      <button class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>
